body {
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(120deg, #ffcc33, #ffeeaa);
  margin: 0; /* Remove default body margins for consistent styling */
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}
