.card {
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }
}

.card-img-top {
  max-height: 300px;
  object-fit: cover;
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: .8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.75rem;
  color: #6c757d;
  margin-bottom: 5px;
}

.read-more, .text-muted {
  font-size: .75rem;
}

.btn-sm {
  font-size: 0.75rem;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  &:disabled {
    cursor: not-allowed !important;
    background-color: #ccc;
    border-color: #ccc;
    color: white;
  }
}